
  <nav class="navbar  navbar-expand-lg  navbar-light bg-light ">
    <a class="navbar-brand ml-5" href="#">
      <img src="/assets/img/logo-2.png" width="100"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
      <ul class="navbar-nav  pb-1">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" >Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="productos" role="button" data-toggle="dropdown" aria-expanded="false">
            Pisicina
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Aseo</a>
            <a class="dropdown-item" href="#">Pisicina</a>
            <a class="dropdown-item" href="#">Seguridad Industrial</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="productos" role="button" data-toggle="dropdown" aria-expanded="false">
          Aseo
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Aseo</a>
            <a class="dropdown-item" href="#">Pisicina</a>
            <a class="dropdown-item" href="#">Seguridad Industrial</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="productos" role="button" data-toggle="dropdown" aria-expanded="false">
            Seguridad Industrial
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Aseo</a>
            <a class="dropdown-item" href="#">Pisicina</a>
            <a class="dropdown-item" href="#">Seguridad Industrial</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cotacto" >Contacto</a>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Producto..." aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </nav>


